@using isucorp.testApp.Resources
@model IEnumerable<isucorp.testApp.DataBaseModel.Reservation>

@{
    ViewBag.Title = Resources.ORGANIZATION_NAME + "|" + Resources.RESERVATION_LIST_LABEL;
    var orderBy = new List<SelectListItem>()
                      {
                          new SelectListItem() {Value = "", Text = Resources.SORT_BY_LABEL, Selected = true},
                          new SelectListItem() {Value = "CreatedDate asc", Text = Resources.BY_DATE_ASCENDING, Selected = false},
                          new SelectListItem() {Value = "CreatedDate desc", Text = Resources.BY_DATE_DESCENDING, Selected = false},
                          new SelectListItem() {Value = "ContacName asc", Text = Resources.BY_ALPHABETIC_ASCENDING, Selected = false},
                          new SelectListItem() {Value = "ContacName desc", Text = Resources.BY_ALPHABETIC_DESCENDING, Selected = false},
                          new SelectListItem() {Value = "Ranking desc", Text = Resources.BY_RANKING, Selected = false}
                      };
}

@section mobilHeaderLabel
{
    @Html.ActionLink("◄ " + Resources.CREATE_RESERVATION_LABEL, "Create", "Home", null, new { @class = "hidden-lg hidden-md hidden-sm header-margin pull-right", })
}

@section pageHeader
{
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
            <h2 class="page-header-color">@Resources.RESERVATION_LIST_LABEL</h2>
        </div>
        <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
            <p>@Resources.TEXT_LOREN</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 hidden-xs header-padding">
            @Html.ActionLink(Resources.CREATE_RESERVATION_LABEL, "Create", "Home", null, new { @class = "btn btn-default button-background btn-block pull-right ", })
        </div>
    </div>
}

<div class="body-content">

    <div class="row clearfix">
        <div class="hidden-lg hidden-md hidden-sm col-xs-12">
            <h2 class="page-header-color">@Resources.RESERVATION_LIST_LABEL</h2>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-left">
            @Html.DropDownList("sortExp", orderBy, new { @class = "form-control" })
        </div>

    </div>


    @foreach (var item in Model)
    {
        <div class="row clearfix background-row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 contact">
                <div class="pull-left">
                    <img class="img-responsive" />
                </div>
                <div class="pull-left">
                    <span class="lead">@Html.DisplayFor(modelItem => item.ContacName)</span><br/>
                    @{
                        var date = item.CreatedDate.HasValue? item.CreatedDate.Value.ToString("D"): "";
                    }
                    <span class="text-muted">@date</span>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                <span class="lead">@Resources.RANKING_LABEL</span>
                <br />
                <select class="ranking" object-id="@item.Id">
                    <option value=""></option>
                    @for (var i = 1; i <= 5; i++)
                {
                    var selected = i == item.Ranking;

                        <option value="@i" selected="@selected"> @i</option>
                    }
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 favourite col-favorite-padding" objectId="@item.Id">
                @{
                    var isFavorite = item.IsFavourite.HasValue && item.IsFavourite.Value ? "heart-on" : "heart-off";
                    var labelOn = item.IsFavourite.HasValue && !item.IsFavourite.Value ? "text-muted" : "";
                }
                <div class="pull-right center-block heart @isFavorite"></div>
                <div class="pull-right hidden-xs center-block label-favorite favourite-on">
                    <span class="@labelOn">@Resources.ADD_TO_FAVORITE_LABEL</span>&nbsp;
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 buttons col-buttons-padding">
                @Html.ActionLink(Resources.DELETE_LABEL, "Delete", "Home", new { id = item.Id }, new { @class = "btn btn-default button-background pull-right hidden-sm hidden-xs center-block" })
                @Html.ActionLink(Resources.EDIT_LABEL, "Edit", "Home", new { id = item.Id }, new { @class = "btn btn-default button-background pull-right center-block" })
            </div>

        </div>
                    }



    <nav>
        <ul class="pagination">
            @{
                var previous = ViewBag.currentPage > 1 ? Url.Action("Index", "Home", new { page = ViewBag.currentPage - 1 }) : "#";
            }
            <li class="@(previous == "#" ? "disabled" : "")">
                <a href="@previous" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (var i = 0; i < ViewBag.pagesCount; i++)
            {
                var isCurrentPage = ViewBag.currentPage == i + 1 ? "pagination-background" : "";
                <li>@Html.ActionLink((i + 1).ToString(), "Index", "Home", new { page = i + 1 }, new { @class = isCurrentPage })</li>
            }

            @{
                var next = ViewBag.currentPage == ViewBag.pagesCount ? "#" : Url.Action("Index", "Home", new { page = ViewBag.currentPage + 1 });
            }
            <li class="@(next == "#"? "disabled" :"")">
                <a href="@next" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@section styles{
    @Styles.Render("~/Content/ranking")
}
@section scripts{
    @Scripts.Render("~/bundles/isucorpList")
    @Scripts.Render("~/bundles/ranking")
}